.header {
	background: #474344;
	height: auto;
	padding: 0;
}

.header .container {
	padding: 10px;
	position: relative;
	overflow: hidden;
}

.header .frame {
	border: none;
	height: 250px;
	width: 100%;
	background: white;
}

.frame-float {
	position: absolute;
	width: 30px;
	top: 20px;
	left: 20px;
}

.btn.call {
	color: white;
	display: block;
	width: 100%;
}

.links {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

.links p {
	text-align: center;
	display: flex;
	justify-content: space-around;
}

.links img {
	width: 18px;
}

.flag.top {
	padding: 25px 15px 75px 15px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 33px;
	text-align: center;
	margin-left: 10px;
}

.flag.top:after {
	content: '';
	border-bottom: 50px solid #474344;
	border-right: 100px solid transparent;
	border-left: 100px solid transparent;
	position: absolute;
	bottom: 0;
	left: 2px;
}

.group-text {
	padding-right: 50px;
	font-size: 17px;
}

.content {
	min-height: 330px;
}


@media only screen and (max-width: 320px) {

	.flag.top {
		font-size: 25px;
	}

	.flag.top:after {
		content: '';
		border-bottom: 45px solid #474344;
		border-right: 55px solid transparent;
		border-left: 55px solid transparent;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

@media only screen and (min-width: 320px) {

	.flag.top {
		font-size: 20px;
	}

	.flag.top:after {
		content: '';
		border-bottom: 45px solid #474344;
		border-right: 75px solid transparent;
		border-left: 75px solid transparent;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

@media only screen and (min-width: 360px) {

	.flag.top {
		font-size: 25px;
	}

	.flag.top:after {
		content: '';
		border-bottom: 45px solid #474344;
		border-right: 87px solid transparent;
		border-left: 87px solid transparent;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

@media only screen and (min-width: 375px) {

	.flag.top {
		font-size: 25px;
	}

	.flag.top:after {
		content: '';
		border-bottom: 45px solid #474344;
		border-right: 90px solid transparent;
		border-left: 90px solid transparent;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}


@media only screen and (min-width: 380px) {

	.flag.top {
		font-size: 25px;
	}

	.flag.top:after {
		content: '';
		border-bottom: 45px solid #474344;
		border-right: 95px solid transparent;
		border-left: 95px solid transparent;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

@media only screen and (min-width: 410px) {

	.flag.top {
		font-size: 33px;
	}

	.flag.top:after {
		content: '';
		border-bottom: 45px solid #474344;
		border-right: 105px solid transparent;
		border-left: 105px solid transparent;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

@media only screen and (min-width: 480px) {

	.flag.top {
		font-size: 33px;
	}

	.flag.top:after {
		content: '';
		border-bottom: 45px solid #474344;
		border-right: 120px solid transparent;
		border-left: 120px solid transparent;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}


@media only screen and (min-width: 600px) {

	.flag.top {
		padding: 25px 15px 100px 15px;
	}

	.flag.top:after {
		content: '';
		border-bottom: 70px solid #474344;
		border-right: 140px solid transparent;
		border-left: 140px solid transparent;

	}
}

.box {
	height: auto;
	background: #efebe8;
}

.box .text {
	text-align: right;
	font-size: 20px;
}

.box .flag {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 20px 15px 40px 15px;
	position: relative;
	font-size: 32px;
	color: white;
	max-width: 120px;
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.faq-flag {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 20px 15px 40px 15px;
	position: relative;
	font-size: 22px;
	width: 120px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box .flag:after, .faq-flag:after {
	content: '';
	border-bottom: 30px solid #efebe8;
	border-right: 60px solid transparent;
	border-left: 60px solid transparent;
	position: absolute;
	bottom: 0;
	left: 0;
}

.faq {
 	display: flex;
 	flex-direction: column;
}

.faq .text {
	font-size: 17px;
	text-align: left;
}

.faq > div {
	flex-grow: 2;
}

.faq .counter {
	font-weight: bold;
  	object-fit: contain;
  	font-family: OpenSansHebrew;
  	font-size: 50px;
  	font-weight: bold;
  	font-stretch: normal;
  	font-style: normal;
  	line-height: 1.36;
  	letter-spacing: normal;
  	margin-right: 20px;
  	margin-top: -18px;
  	color: #474344;
}

@media only screen and (min-width: 768px) {

	.group-text {
		padding: 10px;
	}

	.links-md {
		flex-direction: row;
	}

	.links-md img {
		width: 20px;
	}

	.links-md .call {
		flex-grow: 2;
	}

	.header .container {
		padding: 0;
	}

	.frame-holder {
		padding-top: 20px;
		position: relative;
	}

	.header .top-flag {
		background: red;
		height: 100%;
		max-height: 550px;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		font-size: 20px;
		text-align: center;
		padding: 20px;
		padding-bottom: 100px;
	}

	.header .top-flag:after {
		content: '';
		border-bottom: 100px solid #474344;
		border-right: 110px solid transparent;
		border-left: 110px solid transparent;
		position: absolute;
		bottom: 0;
		left: -15px;
	}

	.header .frame {
		height: 500px; 
	}

	.faq-holder {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.faq-flag {
		padding: 50px;
		padding-left: 60px;
		width: 250px;
		display: inline-block;
		margin: 0 auto;
		font-size: 30px;
	}

	.faq-flag:after {
		content: '';
		border: 0;
		border-left: 65px solid #EFEBE8;
		border-top: 95px solid transparent;
		border-bottom: 95px solid transparent;
		position: absolute;
		left: 0;
		top: 0;
	}

	.faq {
		flex-direction: row;
	}

	.faq .counter {
		font-weight: bold;
	  	object-fit: contain;
	  	font-family: OpenSansHebrew;
	  	font-size: 70px;
	  	font-weight: bold;
	  	font-stretch: normal;
	  	font-style: normal;
	  	line-height: 1.36;
	  	letter-spacing: normal;
	  	margin-right: 20px;
	  	margin-top: -18px;
	  	color: #474344;
	}

	.flag {
		min-height: 200px;
	}

	.frame-float {
		width: 50px;
		top: 35px;
	}
}

@media only screen and (min-width: 992px) {

	.header .top-flag {
		font-size: 33px;
	}

	.header .top-flag:after {
		content: '';
		content: '';
		border-bottom: 110px solid #474344;
		border-right: 155px solid transparent;
		border-left: 155px solid transparent;
		position: absolute;
		bottom: 0;
		left: -30px;
	}
}

@media only screen and (min-width: 1200px) {

	.header .top-flag {
		padding-bottom: 150px;
	}

	.header .top-flag:after {
		content: '';
		content: '';
		border-bottom: 140px solid #474344;
		border-right: 180px solid transparent;
		border-left: 180px solid transparent;
		position: absolute;
		bottom: 0;
		left: -30px;
	}
}

.title {
	font-size: 35px;
	text-align: center;
}

.subtitle {
	font-size: 22px;
	text-align: center;
}

.text {
	font-size: 20px;
}

@media only screen and (max-width: 767px) {
	.content {
		min-height: 0;
	}

	.box .flag {
		font-size: 25px;
	}

	.faq {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.faq .counter {
		font-weight: bold;
	  	object-fit: contain;
	  	font-family: OpenSansHebrew;
	  	font-size: 60px;
	  	font-weight: bold;
	  	font-stretch: normal;
	  	font-style: normal;
	  	line-height: 1.36;
	  	letter-spacing: normal;
	  	margin-right: 20px;
	  	margin-top: -18px;
	  	color: #474344;
	}

	.faq .text {
		text-align: center;
	}
}

@media only screen and (min-width: 768px) {
	.title {
		font-size: 30px;
	}
}