<div class="container-fluid header">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="frame-holder">
					<iframe [src]="frameUrl" class="frame" allowsfullscreen></iframe>
					<img src="/assets/float/lg.png" class="frame-float">
				</div>

				<div class="d-none d-md-flex links-md px-0 py-2" style="flex-direction: row;">
					<a [href]="waze" (click)="notify()" class="btn mr-4" target="_blank">
						<img src="/assets/waze/lg.png"></a>

					<button (click)="notify()" class="btn mr-4" [title]="propertyData.phone">
						<img src="/assets/sms/lg.png"></button>

					<button (click)="notify()" class="btn mr-4" [title]="propertyData.phone">
						<img src="/assets/phone/lg.png"></button>

					<a [href]="propertyData.whatsapp" (click)="notify()" class="btn mr-4">
						<img src="/assets/whatsapp/lg.png"></a>

					<button class="btn rounded-0 text-white call" [style.background-color]="colorsObj.btnColor" (click)="showPhoneNumber()" style="margin-right: 0;">
						<img src="/assets/phone/sm.png"> &nbsp; {{btnText}} </button>
				</div>
			</div>
			
			<div class="col-md-3 d-none d-md-block">
				<p class="top-flag" [style.background-color]="colorsObj.headerFlag">
					{{propertyData.d}}
				</p>
			</div>
		</div>

		<div class="row d-md-none">
			<div class="col-5 pr-0 pt-3">
				<button class="btn rounded-0 call" [style.background-color]="colorsObj.btnColor" (click)="showPhoneNumber()">
					{{btnText}}
				</button>

				<div class="links">
					<p>
						<a [href]="propertyData.whatsapp" (click)="notify()" class="btn">
							<img src="/assets/whatsapp/lg.png"></a>

						<button class="btn" (click)="notify()" [title]="propertyData.phone">
							<img src="/assets/phone/lg.png"></button>
					</p>

					<p>
						<a [href]="waze" (click)="notify()" class="btn" target="_blank">
							<img src="/assets/waze/lg.png"></a>

						<button (click)="notify()" class="btn" [title]="propertyData.phone">
							<img src="/assets/sms/lg.png"></button>
					</p>
				</div>
			</div>
			<div class="col-7 text-center">
				<p class="flag top" [style.background-color]="colorsObj.headerFlag">
					<span>{{propertyData.d}}</span>
				</p>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid">
	<div class="container my-4">
		<div class="col-md-10 mx-auto box">
			<div class="row">
				<div class="col-md-9 order-2 order-md-1 content d-flex align-items-center">
					<div class="row align-items-center justify-content-end" style="flex-grow: 1">
						<p class="text col-md-7 py-3 mx-auto" style="font-style: normal; font-weight: normal;">
							{{propertyData.e}}
						</p>
					</div>
				</div>

				<div class="col-md-3 order-1 order-md-2 text-center">
					<p class="flag" [style.background-color]="colorsObj.flagTwo">
						תיאור הדירה
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="container my-4">
		<div class="col-md-10 mx-auto box">
			<div class="row">
				<div class="col-md-9 order-2 order-md-1 content d-flex align-items-center">
					<div class="row py-3 d-flex align-items-center justify-content-end" style="flex-grow: 1">
						<ng-container  *ngFor="let item of groupTwo; let i = index">
							<p class="col-md-6 text-right group-text">
								<b>{{item.prop}} </b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
								<span>{{item.value}} </span>
							</p>
						</ng-container>
					</div>
				</div>

				<div class="col-md-3 order-1 order-md-2 text-center">
					<p class="flag" [style.background-color]="colorsObj.flagThree">
						תיאור הדירה
					</p>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid">
	<div class="container my-4">
		<div class="col-md-10 mx-auto box">
			<div class="row">
				<div class="col-md-9 order-2 order-md-1 content d-flex align-items-center">
					<div class="row py-3 d-flex align-items-center justify-content-end" style="flex-grow: 1">
						<ng-container  *ngFor="let item of groupThree; let i = index">
							<p class="col-md-6 text-right group-text">
								<b>{{item.prop}} </b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
								<span>{{item.value}} </span>
							</p>
						</ng-container>
					</div>
				</div>

				<div class="col-md-3 order-1 order-md-2 text-center">
					<p class="flag" [style.background-color]="colorsObj.flagFour">
						תיאור הדירה
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="container my-4">
		<div class="col-md-10 mx-auto px-0">
			<iframe [src]="mapURL" allowsfullscreen style="border: none; width: 100%; height: 300px"></iframe>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="container rounded my-4">
		<div class="col-md-8 mx-auto faq-holder"  [style.background-color]="colorsObj.headerFlag">
			<div class="text-center">
				<p class="faq-flag" [style.background-color]="colorsObj.QAFlag">
					<span class="d-block">		אלות ותשובות</span>
				</p>
			</div>

			<div class="col-md-10 mx-auto mt-5">
				<ng-container *ngFor="let faq of propertyFAQ; let i = index;">
					<div class="faq mb-5">
						<div class="order-2 order-md-1">
							<h6 class="font-weight-bold text">
								{{faq.q}} 
							</h6>
							<p class="text">{{faq.a}}</p>
						</div>

						<p class="px-3 counter order-1 order-md-2" style="" [style.color]="colorsObj.numbers">{{i + 1}}</p>
					</div>
				</ng-container>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid py-3 " [style.background-color]="colorsObj.headerFlag">
	<p class="mb-0">
		<b>>>> לות ותשובות<</b>
		&nbsp; &nbsp;
		<span>
			Lorem ipsum dolor sit amet,
		</span>
	</p>
</div>