<div class="container-fluid header py-5">
	<div class="position-relative">
		<div class="row">
			<div class="col-md-9 order-2 order-md-1 px-md-5">
				<div class="frame-holder">
					<iframe [src]="frameUrl" class="frame" allowsfullscreen style="background: white;"></iframe>
					<img src="/assets/float/lg.png" class="frame-float">
				</div>
			</div>

			<div class="col-md-3 order-1 flag-holder order-md-2 pr-0 position-relative">
				<p class="flag title bg-white">
					{{propertyData.d}}
				</p>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="container my-4">
		<div class="masonry col-md-10 mx-auto">
			<div class="box mb-4">
				<p class="flag py-1 my-3 subtitle" [style.background-color]="colorsObj.header">{{btnText}}</p>
				<div class="content text">
					<ng-container *ngFor="let item of groupThree | keyvalue">
						<p>{{item.value}}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>{{item.key}} </b></p>
					</ng-container>
				</div>
			</div>

			<div class="box last mb-4">

				<p class="flag py-1 my-3 subtitle" [style.background-color]="colorsObj.header">{{btnText}}</p>

				<nav class="links d-flex flex-column">
					<p class="col-6 mx-auto order-2 order-lg-1">
						<a [href]="waze" (click)="notify()" class="nav-link btn" target="_blank">
							<img src="/assets/waze/lg2.png"></a>

						<button class="nav-link btn" [title]="propertyData.phone"  (click)="notify()">
							<img src="/assets/sms/lg2.png">
						</button>
					</p>
					<p class="col-6 mx-auto order-1 order-lg-2">
						<button class="nav-link btn" [title]="propertyData.phone" title="Phone" (click)="notify()"> 
							<img src="/assets/phone/lg2.png">
						</button>

						<a [href]="propertyData.whatsapp" class="nav-link btn" title="Whatsapp" (click)="notify()">
							 <img src="/assets/whatsapp/lg2.png">
						</a>
					</p>
				</nav>

				<div class="px-5">
					<button class="nav-link btn rounded-0 text-white btn-block" [style.background-color]="colorsObj.flagTwo" (click)="showPhoneNumber()">
						<img src="/assets/phone/sm.png" style="width: 20px;"> &nbsp; {{btnText}}
					</button>
				</div>
			</div>

			<div class="box mb-4">
				<p class="flag py-1 my-3 subtitle" [style.background-color]="colorsObj.header">{{btnText}}</p>
				<div class="content text">
					{{propertyData.e}}
				</div>
			</div>

			<div class="box mb-4">
				<p class="flag py-1 my-3 subtitle" [style.background-color]="colorsObj.header">{{btnText}}</p>
				<div class="content text">
					<ng-container *ngFor="let item of groupTwo | keyvalue">
						<p>{{item.value}}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>{{item.key}} </b></p>
					</ng-container>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="container my-4">
		<div class="col-md-10 mx-auto">
			<iframe [src]="mapURL" allowsfullscreen style="border: none; width: 100%; height: 300px"></iframe>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="container rounded my-4 px-3">
		<div class="col-md-10 mx-auto box px-0 faq-holder"  [style.background-color]="colorsObj.headerFlag">
			<p class="flag py-1 subtitle mt-3 mb-5" [style.background-color]="colorsObj.header">{{btnText}}</p>

			<div class="col-md-10 mx-auto">
				<ng-container *ngFor="let faq of propertyFAQ; let i = index;">
					<div class="faq py-3">
						<div class="order-2 order-md-1">
							<h6 class="font-weight-bold text">
								{{faq.q}} 
							</h6>
							<p class="text">{{faq.a}}</p>
						</div>

						<p class="px-3 counter order-1 order-md-2" [style.color]="colorsObj.numbers">{{i + 1}}</p>
					</div>
				</ng-container>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid py-3 d-none d-md-block" [style.background-color]="colorsObj.headerFlag">
	<p class="mb-0">
		<b>>>> לות ותשובות<</b>
		&nbsp; &nbsp;
		<span>
			Lorem ipsum dolor sit amet,
		</span>
	</p>
</div>